// The ui-variables file is provided by base themes provided by Atom.
//
// See https://github.com/atom/atom-dark-ui/blob/master/styles/ui-variables.less
// for a full listing of what's available.
@import "ui-variables";


.varping_active {
    background-color: #666666;
    color: white;
    font-weight: bold;
}
.varping_form {
    input {
        width: 85%;
        margin-bottom: 2px;
        margin-right: 5%;
    }
    button {
        width: 10%;
    }
}
